<div class="jumbotron text-center" ng-controller="pregledController">
  <h3>Odaberi uređaj i broj podataka:</h3>
  <form>
      <select ng-options="device for device in devices" ng-model="selectedDevice" ng-change="Graph(selectedDevice, selectedCount)"></select>
      <select ng-options="count for count in counts" ng-model="selectedCount" ng-change="Graph(selectedDevice, selectedCount)"></select>
  </form>
  {{ info }}
  <!-- <p>{{ data }}</p> -->
</div>
<div ng-controller="chartController">
  <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-colors="colours"
    chart-options="options" chart-series="series"></canvas>
</div>
